.homepage-container {
    text-align: center;
    margin-top: 2rem;
}

.homepage-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
}



.feature-grid {
    justify-content: center;
    margin-top: 1rem;
}

.feature-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card-content {
    flex-grow: 1;
}

.attribute-card {
    border-left: 4px solid #1976d2;
}

.xpair-card {
    border-left: 4px solid #d32f2f;
}